<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ApplicationAccessKey" value="065b0caa-5ad6-4a18-ad0d-91179bc1ea36"/>
    <add key="SelectedConfiguration" value="Beta"/>
    <add key="URL" value="https://jetstreambeta.tersosolutions.com"/>
    <add key="LogicalDeviceIDkey" value="Unitf000001Name"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
